.container1 {
  position: absolute;
  bottom:10px;
  right:10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding:10px;
}

.button1 {
  width:50px;
  height: 50px;
  border-radius: 100px;
  background-color: blueviolet;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 10px #673ab78a;
  transition: .2s all ease-in-out;
}

.bottomBox {
  width: 90%;
}
.button1:hover {
  box-shadow: -1px 2px 21px #673ab78a;
}

.bounce {
  animation: up-down 2s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.button22 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 11px;
  background: linear-gradient(180deg, #09bddd 0%, #2c48df 100%);
  cursor: pointer;
  box-shadow: 0px 0px 6.033519744873047px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.inputbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-top: 24px;
  align-items: center;
}

.inputbox input {
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding: 6px 22px;
  height: 50px;
  border: 1.01px solid #e5e7eb;
}

.message-card-admin {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  text-align: end;
  width: 100% !important;
}

.message-card-bot {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: start;
  text-align: end;
}

.message-card-admin .message {
  margin-right: 16px;
}

.message-card-bot .message {
  background-color: #8bc34a26;
  padding: 4px 10px;
  color: #000000;
  width: 70%;
}

.message {
  border-radius: 14px;
  background-color: #546fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 10px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}


.bot {
  top: 20px;
  left: 500px;
}

.bot svg {
  height: 150px;
  width: 243px;
}


img {
  width: 60px;
}

@media screen and (max-width:700px) {
  .container11 {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

.container1 {
  padding: 10px
}

.container1::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 10px 10px #d5e6f7;
}

::-webkit-scrollbar-thumb {
  background-color: #09bddd;
}

.container1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 10px 10px #d5e6f7;
}

.container1::-webkit-scrollbar-thumb {
  background-color: #09bddd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Apply animation to the rotating class */
.rotate {
  animation: rotate .5s linear forwards;
}